*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container2{
    background-color: blue;
    width: 100vw;
    height: 100vh;
    padding-top: 20px;
    display: flex;
}
.sidebar{
    width: 20%;
    background-color: lime;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
    margin-left: 3px;
   
}
ul{
    list-style: none;
    width: 80%;
}
li{
    padding: 10px;
    background-color: rgb(143, 143, 209);
    margin: 5px 0;
    border-radius: 15px;
    width: 100%;
    text-align: center;
}
.main-content{
    width: 80%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}
.curr-bal{
    background-color: pink;
    text-align: center;

}
.chart{
    background-color: white;
    max-width: 900px;
    height: 450px;

}
.past-transaction{
    background-color: red;
}
.tText{
    display: flex;
    flex-direction: column;
}
.transaction-detail{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
}