*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container2{
    background-color: blue;
    width: 100vw;
    height: 100vh;
    padding-top: 20px;
    display: flex;
}
.sidebar{
    width: 20%;
    background-color: lime;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
    margin-left: 3px;
}
ul{
    list-style: none;
}
.main-content{
    width: 80%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}
.curr-bal{
    background-color: pink;
    padding: 10px 0 0 0;
    text-align: center;
}
.notes1{
    background-color: red;
    display: flex;
    gap: 2%;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.bal-container1{
    background-color: bisque;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 5px;

}
.payments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.expense-container1{
    background-color: brown;
    height: 100%;
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 20px 0 60px 0;
}
.money-btn{
    height: 2.5rem;
    padding: 10px;
    width: 10rem;
    border-radius: 30px;
    border: none;
    margin-top: 1.5rem;
}
.submit-btn{
    height: 2rem;
    width: 6rem;
    border-radius: 15px;
    border: none;
}

.people{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
    padding-top: 10px;
}
.by{
    background-color: aqua;
    width: 80%;
    height: 2rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.for{
    background-color: aqua;
    width: 80%;
    height: 2rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container3{
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 100%;    
}
.settle-up{
    background-color: rgb(173, 146, 146);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.pay{
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    height: 40px;
    padding:0 15px;
    border-radius: 20px;
}
.past-expenses{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.expense-block{
    background-color: darkgreen;
    width: 220px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.pay-details{
    display: flex;
    flex-direction: column;
}





